@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

:root{
    --text-color:#E3E3E3;
    --subheading-color:#828282;
    --placeholder-color:#A6A6A6;
    --primary-color:#242424;
    --secondary-color:#383838;
    --secondary-hover-color:#444;
}

body{
    background-color: var(--primary-color);
    /* background-color: black; */
}
.header,.typing-area{
    color: var(--text-color);
}

.header,.chat-list .message ,.typing-form{
    max-width: 1000px;
    margin: 0 auto;
}
.typing-form{
    margin-left: 0;
}
.header{
    margin-top: 7vh;
    padding: 1rem;
    /* display: none; */
}
.header:where(.title,.subtitle){
    font-weight: 500;
    line-height: 3.6rem;
}
.header .title{
    font-size: 2.7rem;
    background-clip: text;
    background: linear-gradient(to right,#4285f4,#d96570);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header .subtitle{
    font-size: 2.4rem;
    color: var(--subheading-color);
}

.suggestion-list{
    margin-top: 9.5vh;
    display: flex;
    gap: 1.25rem;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
}
.suggestion-list .suggestion{
    background: var(--secondary-color);
    cursor: pointer;
    width: 227px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: 0;
    border-radius: 0.75rem;
padding: 1.25rem;
}
.suggestion-list .suggestion:hover{
    background: var(--secondary-hover-color);
}
.suggestion-list .suggestion .text{
    font-weight: 400;
}

.suggestion-list .suggestion .icon{
    background: var(--primary-color);
    height: 42px;
    width: 42px;
    font-size: 1.3rem;
    margin-top:2.5rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.typing-area{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    background: var(--primary-color);
}
.typing-form{
    margin-left: auto;
}
.typing-area :where(.typing-form, 
.action-buttons){
    display: flex;
    gap: 0.75rem;
}
.typing-area .input-wrapper{
    height: 56px;
    width: 100%;
    display: flex;
    position: relative;
}
.typing-area .typing-input{
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    border: none;
    font-size: 1rem;
   
    outline: none;
    color: var(--text-color);
    border-radius: 6.2rem;
   padding:  1.1rem 3rem 1.1rem 1.5rem;
}
.typing-area .typing-input:focus{
    background: var(--secondary-hover-color);
}
.typing-area .typing-input::placeholder{
    color: var(--placeholder-color);
}

.typing-area .icon{
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
}
.typing-area .icon:hover{
    background: var(--secondary-hover-color)!important;
}
.typing-area .input-wrapper .icon{
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    color: var(--text-color);
    background: none;
    transform: scale(0);

}
.typing-area .input-wrapper .typing-input:valid ~ .icon{
transform: scale(1);
}
.typing-area .disclaimer-text{
    font-size: 0.65rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--placeholder-color);
}
.chat-list{
    padding: 2rem 1rem 12rem;
    max-height: 100vh;
    overflow-y: auto;
}
.chat-list .message.incoming{
    margin-top: 1.5rem;
}

.chat-list .message .message-content{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}
.chat-list .message .avatar{
    width: 40px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-start;
    margin-bottom: 13px;
  

}
.ico{
    display: flex;
    /* gap: 12px; */
    gap: -12px;
}
.chat-list .message .icon{
    color: var(--text-color);
    cursor: pointer;
    height: 35px;
    width:35px;
    background: var(--secondary-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   display: flex;
   flex-direction: row;
   font-size: 1.25rem;
   margin-left: 3.5rem;
   visibility: hidden;
    /* display: inline; */
    /* display: flex;
  
    flex-direction: row; */
}
.chat-list .message .icon:hover{
    background: var(--secondary-hover-color);
}

.chat-list .message .text{
    color: var(--text-color);
}


.chat-list .message:not(.load):hover .icon {
    visibility: visible;
}
.load .avatar{
    animation: rotate 1s linear infinite; 
}
@keyframes rotate {
    from {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
        transform: rotate(360deg); /* End at 360 degrees */
    }
}
.load .text{
    display: none;
}
.loading {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    
}
.chat-list .message.load .loading{
    display: flex;
}

.ellipse {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    animation: loading 1.2s infinite ease-in-out;
}

.ellipse:nth-child(1) {
    animation-delay: -0.24s;
}

.ellipse:nth-child(2) {
    animation-delay: -0.12s;
}

.ellipse:nth-child(3) {
    animation-delay: 0s;
}

@keyframes loading {
    0%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.9);
    }
}
@media screen and (max-width:370px) {
   
    .typing-area .icon{
        height: 42px;
        width: 42px;
        font-size: 16px;
    }
    .typing-area :where(.typing-form, 
.action-buttons){
   margin-top: 7px;
    gap: 0em;
}
.typing-area .input-wrapper .icon{
    top: 7px;
}
.chat-list .message .avatar{
    width: 23px;
    height: 24px;
}
}